{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'main/css/auth_styles.css' %}">
    <link rel="icon" href="{% static 'main/media/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <header class="header">
      <div class="logo">
          <a href="{% url 'home' %}">
              <img src="{% static 'main/media/logo.png' %}" alt="Logo">
          </a>
      </div>
    </header>
    <div class="center">
      <h1>Reset Password</h1>

      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
    
      <div class="signup_link">Enter your email to reset password</div>
      
      <form method="POST">

        {% csrf_token %}

        <div class="txt_field">
          <input type="email" required name="email">
          <span></span>
          <label>Email</label>
        </div>
        
        <input type="submit" value="Reset Password">
        <div class="signup_link">
          Not a member? <a href="{% url 'register' %}">Sign up</a>
          <p>Remember your Password? <a href="{% url 'login' %}">Sign in</a></p> 
        </div>
      </form>
    </div>

  </body>
</html>