{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'main/css/auth_styles.css' %}">
  </head>
  <body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'main/media/text_logo.png' %}" alt="Логотип">
        </div>
        <button class="home-btn" onclick="window.location.href='{% url 'home' %}'">Home page →</button>
    </header>
    <div class="center">
      <h1>Reset Sent</h1>
    
        <center>
            <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
        </center>
      
    </div>

  </body>
</html>