{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{% static 'main/css/registration_style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'main/media/text_logo.png'%}" alt="Логотип">
        </div>
        <button class="home-btn" onclick="window.location.href='../index.html'">На головну →</button>
    </header>

    <main class="registration-container">
        <h1>Зареєструватись</h1>
        <form class="registration-form">
            <label for="login">Логін</label>
            <input type="text" id="login" name="login" placeholder="Введіть логін" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введіть пароль" required>

            <label for="confirm-password">Підтвердити пароль</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Підтвердити пароль" required>

            <p>Вже є акаунт? <a href="login.html">Увійти</a></p>

            <button type="submit" class="submit-btn">Зареєструватись</button>
        </form>
    </main>
</body>
</html>
