{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytic Page</title>
    <link rel="stylesheet" href="{% static 'main/css/analytic_style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/sidebar_style.css' %}">
    <link rel="icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>

    {% include "includes/sidebar.html" %}

    <div class="content">
        <!-- Верхня панель з вибором проєкту -->
        <div class="top-bar">
            <select id="projectSelect">
                <option value="Project A">Project A</option>
                <option value="Project B">Project B</option>
                <option value="Project C">Project C</option>
            </select>
        </div>

        <!-- Контейнер для всіх графіків -->
        <div class="dashboard-wrapper">

            <!-- Горизонтальна лінія -->
            <div class="divider-horizontal"></div>

            <!-- Вертикальна лінія -->
            <div class="divider-vertical"></div>

            <!-- Сітка для організації графіків -->
            <div class="dashboard">
                <!-- Кругова діаграма -->
                <div class="pie-chart">
                    <h2 class="chart-title">Meeting Deadlines</h2>
                    <canvas id="pieChart"></canvas>
                </div>

                <!-- Стовпчикова діаграма -->
                <div class="bar-chart">
                    <h3 class="chart-title">Task Load Distribution</h3>
                    <canvas id="barChart1"></canvas>
                </div>

                <!-- Лінійний графік -->
                <div class="line-chart">
                    <h2 class="chart-title">Task schedule by number of hours</h2>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>

        </div>
    </div>
    <!-- Підключення скрипта -->
    <script src="{% static 'main/js/script_analytic.js' %}"></script>
    <script src="{% static 'main/js/script_sidebar.js' %}"></script>

</body>
</html>
