{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'main/css/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/sidebar_style.css' %}">
    <link rel="icon" href="{% static 'main/media/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<body>
    {% include "includes/sidebar.html" %}
    <div class="container">
        <!-- Перша секція коротко про сам проєкт -->
        <section class="hero">
            <div class="hero-text">
                <h1>Rate your tasks</h1>
                <p>The team performance evaluation system analyzes work efficiency, automates feedback, and helps improve team productivity.</p>
                <div class="buttons"></div>
            </div>
            <div class="hero-image">
                <img src="{% static 'main/media/logo_sidebar.png' %}" alt="logo">
            </div>
        </section>

        <!-- Друга секція опис функцій -->
        <section class="about">
            <h1>Maximum team productivity</h1>
            <p>The system analyzes team performance and automates feedback. It helps improve work efficiency and optimize team interaction.</p>
            <div class="features">
                {% for feature in features %}
                <div class="feature">
                    <div class="feature-img">
                        <img class="feature-img" src="{% static feature.image %}" alt="{{ feature.title }}">
                    </div>
                    <div class="feature-text">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Третя секція в чому перемаги проєкту -->
        <section class="advantages">
            <h1>Key system benefits</h1>
            <div class="advantage-list">
                {% for advantage in advantages %}
                <div class="advantage">
                    <div class="icon">
                        <span class="nav-icon material-symbols-rounded" id="icon" style="font-size: 48px;">{{ advantage.icon }}</span>
                    </div>
                    <h3>{{ advantage.title }}</h3>
                    <p>{{ advantage.description }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Четвера секція команда яка розробляла проєкт -->
        <section class="team">
            <h1>Team</h1>
            <div class="team-members">
                {% for member in team_members %}
                <div class="member">
                    <div class="member-img"></div>
                    <p>{{ member.name }}</p>
                    <p>{{ member.role }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>


    <footer class="footer">
        <div class="logo">
            <img src="{% static 'main/media/logo.png' %}" alt="Логотип">
        </div>
        <p>© 2025 Rate your tasks</p>
        <a href="{% url 'logout' %}">Logout</a>
    </footer>

    <script src="{% static 'main/js/script_sidebar.js' %}"></script>

</body>
</html>
