body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #fff;
    color: #333;
}

/* Хедер */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 1000;
}

/* Логотип */
.logo img {
    width: 150px;
    height: auto;
}

/* Кнопка На головну */
.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #2055E5;
    border-radius: 10px;
    color: #2055E5;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}
.home-btn:hover {
    background: #2055E5;
    color: #fff;
}

/* Контейнер форми входу*/
.login-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Форма входу */
.login-form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 350px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; 
}

/* Посилання Зареєструватись */
.login-form p {
    font-size: 14px;
}
.login-form a {
    color: #2055E5;
    text-decoration: none;
}
.login-form a:hover {
    text-decoration: underline;
}

/* Кнопка Увійти */
.submit-btn {
    width: 100%;
    background-color: #2055E5;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background: darkblue;
}
